{% extends 'base.html' %}
{% block title %}Detalle de Reserva{% endblock %}
{% block content %}
<div class="card">
  <div class="card-header">
    Detalle de la Reserva 
    {% if reserva.estado == 'Cancelada' %}
       - <span class="badge bg-danger">Cancelada</span>
    {% endif %}
  </div>
  <div class="card-body">
    <p><strong>Pasajero:</strong> {{ reserva.pasajero }}</p>
    <p><strong>Vuelo:</strong> {{ reserva.vuelo }}</p>
    <p><strong>Asiento:</strong> {{ reserva.asiento }}</p>
    <p><strong>Estado:</strong> {{ reserva.estado }}</p>
    <p><strong>Fecha:</strong> {{ reserva.fecha_reserva }}</p>

    {% if reserva.estado != 'Confirmada' and reserva.estado != 'Cancelada' %}
      <a class="btn btn-success" href="{% url 'reserva_confirmar_pago' reserva.id %}">Confirmar Pago</a>

    {% endif %}
    {% if reserva.estado != 'Cancelada' %}
      <a class="btn btn-outline-danger" href="{% url 'reserva_cancelar' reserva.id %}">Cancelar reserva</a>
    {% endif %}
  </div>
</div>
<!-- Enlaces -->
    <div class="card mt-4 border-0 shadow">
        <div class="card-body d-flex flex-wrap gap-3 justify-content-between">
            <a href="{% url 'reserva_list' %}" class="btn btn-outline-primary btn-md rounded-pill"><i class="bi bi-arrow-left"></i> Volver</a>
            <a href="{% url 'boleto_list' %}" class="btn btn-outline-success btn-md rounded-pill">🎫 Ver Boletos</a>
        </div>
    </div>
{% endblock %}
