{% load static %}
{% load i18n %}
<nav class="navbar navbar-expand-lg px-4 navbar-dark">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto"> <!-- Elementos a la izquierda -->
            <li class="nav-item">
                <a class="nav-link fw-bold" href="{% url 'index' %}">SkyWay</a>
            </li>
            {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'vuelo_list' %}">{% trans "Vuelos" %}</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'vuelo_list' %}">{% trans "Vuelos" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'reserva_list' %}">{% trans "Mis reservas" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'boleto_list' %}">{% trans "Mis boletos" %}</a>
                </li>

            {% endif %}
        </ul>
    
        <ul class="navbar-nav ms-auto"> <!-- Elementos a la derecha -->
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="perfilDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle"></i> {{ user.username }}
                        {% if user.is_staff %}
                            <i class="bi bi-shield-check text-warning fw-bold ms-1 ">Staff</i> 
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="perfilDropdown">
                        <li>
                            <a href="{% url 'perfil' %}" class="dropdown-item">
                                <i class="bi bi-person-circle me-2"></i> {% trans "Perfil de usuario" %}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'reserva_list' %}">{% trans "Mis reservas" %}</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'boleto_list' %}">{% trans "Mis boletos" %}</a>
                        </li>
                        {% if user.is_staff %}
                            <li>
                                <a class="dropdown-item text-warning" href="{% url 'vuelos_pasajeros_staff' %}">
                                    <i class="bi bi-shield-exclamation "></i> {% trans "Panel Staff" %}
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item text-danger" href="{% url 'logout' %}">
                                <i class="bi bi-box-arrow-right"></i> {% trans "Cerrar sesión" %}
                            </a>
                        </li>
                    </ul>
                </li>
                
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">{% trans "Iniciar sesión" %}</a>
                </li>
                <li>
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#registerModal">{% trans "Registrate" %}</a>
                </li>
            {% endif %}
            <!-- Botones para cambiar idioma -->
            <li class="nav-item me-2 ms-2 mt-1">
              <form action="{% url 'set_language' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <input name="language" type="hidden" value="es">
                <input name="next" type="hidden" value="{{ request.get_full_path }}">
                <button type="submit" class="btn btn-sm btn-outline-light {% if LANGUAGE_CODE == 'es' %}active{% endif %}">ES</button>
              </form>
            </li>
            <li class="nav-item mt-1">
              <form action="{% url 'set_language' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <input name="language" type="hidden" value="en">
                <input name="next" type="hidden" value="{{ request.get_full_path }}">
                <button type="submit" class="btn btn-sm btn-outline-light {% if LANGUAGE_CODE == 'en' %}active{% endif %}">EN</button>
              </form>
            </li>
        </ul>
    </div>

  <div>
    {% include 'account/login_modal.html' %}
    {% include 'account/register_modal.html' %}
  </div>
</nav>
