{% extends 'base.html' %}
{% block title %}Detalle del Boleto{% endblock %}
{% block content %}
<div class="card">
  <div class="card-header">Detalle del Boleto</div>
  <div class="card-body">
    <p><strong>Código:</strong> {{ boleto.codigo_barra }}</p>
    <p><strong>Reserva:</strong> {{ boleto.reserva }}</p>
    <p><strong>Estado:</strong> {{ boleto.estado }}</p>
    <p><strong>Fecha de Emisión:</strong> {{ boleto.fecha_emision }}</p>
    <a href="{% url 'boleto_pdf' boleto.id %}" class="btn btn-outline-danger btn-sm rounded-pill">
      <i class="bi bi-file-earmark-pdf"></i> Descargar PDF
    </a>
  </div>
</div>
<!-- Enlaces -->
    <div class="card mt-4 border-0 shadow">
        <div class="card-body d-flex flex-wrap gap-3 justify-content-between">
            <a href="{% url 'boleto_list' %}" class="btn btn-outline-primary btn-md rounded-pill"><i class="bi bi-arrow-left"></i> Volver</a>
        </div>
    </div>
{% endblock %}
